body {
    margin: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    background: #fff;
}

#container {
    margin: 0 auto;
    width: 960px;
}

header,
#footer {
    display: block;
    color: black;
}

header a,
#footer a {
    color: black;
}

header {
    padding: 25px 0;
}

header:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

header a {
    text-decoration: none;
}

header em {
    margin: 0;
    font-weight: normal;
    font-size: 30px;
    font-style: normal;
    line-height: 1;
}

header nav {
    float: right;
    display: block;
}

header nav ul {
    margin: 0;
    list-style-type: none;
}

header nav ul li {
    float: left;
    margin-left: 20px;
}

header nav ul li a {
    display: block;
    margin-top: 4px;
    line-height: 22px;
}

header nav ul li a:hover,
header nav ul li a.active {
    border-bottom: 2px solid #fff;
}

header nav ul li a.active {
    cursor: default;
}

#content {
    display: block;
    padding: 25px 0;
    background: #fff;
}

#content h1 {
    margin-top: 0;
    font-weight: bold;
}

#content a {
    color: #da5a47;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

article img {
    width: 100%;
}

footer {
    padding: 15px;
    font-size: 12px;
    text-align: center;
}

.image-title {
    margin: .5em 0 1em;
}