<section>
	{% for post in postslist %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>

			<a href="{{ post.url | url }}">
				{% if post.data.image %}
					<img src="{{ post.data.image }}" alt="{{ post.data.summary }}">
				{% endif %}
			</a>
			<a class="image-title" href="{{ post.url | url }}">
				{% if post.data.title %}
					{{ post.data.title }}
				{% else %}
					Untitled
				{% endif %}
			</a>
		</article>
	{% endfor %}
</section>
